# Database Configuration
DB_HOST=myshaa.com
DB_PORT=3306
DB_USER=myshaa_kabu
DB_PASSWORD=T-Cyj;f5g1y6
DB_NAME=myshaa_kabu

# Application Configuration
PORT=8080

# Optional: Set to "development" for debug logging
NODE_ENV=production

# Additional configurations (if needed)
# JWT_SECRET=21321esaendjnasjdasjdnjasbndjqwbeijn2jebjbjbjnjnj
# EMAIL_FROM=onboarding@resend.dev
# EMAIL_TO=narayan.singh5098@gmail.com
